body {
    background: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #38bdf8;
}

.box {
    background: #020617;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

textarea, input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.success {
    color: #10b981;
}

.result {
    background: #020617;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}
